<?xml version="1.0" encoding="UTF-8"?>
<!--logback配置修改后自动扫描，间隔60s，无须重启应用-->
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c:%L %m%n</pattern>
        </encoder>
    </appender>

    <appender name="dailyFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/daily.log.%d{yyyy-MM-dd}</fileNamePattern>
            <append>true</append>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%p %c %d{yyyy-MM-dd HH:mm:ss} - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info"/>
    <logger name="org.springframework.beans" level="info"/>
    <logger name="java.sql.Connection" level="debug" />
    <logger name="java.sql.Statement" level="debug" />
    <logger name="java.sql.PreparedStatement" level="debug" />
    <logger name="java.sql.ResultSet" level="debug" />

    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="dailyFile"/>
    </root>
</configuration>